.btn {
    text-align: center;
}

button {
    background-color: antiquewhite;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: .5em;
    border-radius: 2px;
    margin: .3em;
    width: 25%;
}
      
button:hover {
    background-color: rosybrown;
}