/*Typography
--------------------------------------------------------------*/
body {
  background-color: #130A00   
}

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: 'courier new', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
h1,h3,h4,h5,h6 {
 font-family: 'courier new', serif;
 letter-spacing: 2px;
 background-color: antiquewhite;
}
.center {
 text-align: center;
}
.welcome--btns {
display: flex;
justify-content: space-evenly;
margin-top:50px;
}
p {
 margin-bottom: 1.5 em;
 color: #d6fcff;
 color: antiquewhite;
 text-align: center;
}
strong {
 font-weight: bold;
}
address {
 margin: 0 0 1.5em;
 text-align: center;
}
img {
 display: block;
 border: 0;
 width: 30%;
 height: auto;
 margin:40px auto;
}
.section-content {
 padding: 1.4em;
}
.container-cards {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-between;
}
